# retain unix line-endings in case checked out on windows
*.rb text eol=lf
*.sh text eol=lf

# retain windows line-endings in case checked out on mac or linux
*.json text eol=crlf
*.ps1 text eol=crlf
*.exe -text
*.zip -text
